## Reading The Data
-------------------------------------------

In [1]:
import pandas as pd
data = pd.read_csv('../data/raw/Mental Health Dataset.csv')

## Exploring The Data
-------------------------------------------

### EXPLORING THE STRUCTURE

In [ ]:
# --------------------
# Dataset Information
# --------------------
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 292364 entries, 0 to 292363
Data columns (total 17 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   Timestamp                292364 non-null  object
 1   Gender                   292364 non-null  object
 2   Country                  292364 non-null  object
 3   Occupation               292364 non-null  object
 4   self_employed            287162 non-null  object
 5   family_history           292364 non-null  object
 6   treatment                292364 non-null  object
 7   Days_Indoors             292364 non-null  object
 8   Growing_Stress           292364 non-null  object
 9   Changes_Habits           292364 non-null  object
 10  Mental_Health_History    292364 non-null  object
 11  Mood_Swings              292364 non-null  object
 12  Coping_Struggles         292364 non-null  object
 13  Work_Interest            292364 non-null  object
 14  Social_Weakness          292364 non-null  object
 15  mental_health_interview  292364 non-null  object
 16  care_options             292364 non-null  object
dtypes: object(17)
memory usage: 37.9+ MB

In [ ]:
# --------------
# Dataset Head
# --------------
data.head()

,Timestamp,Gender,Country,Occupation,self_employed,family_history,treatment,Days_Indoors,Growing_Stress,Changes_Habits,Mental_Health_History,Mood_Swings,Coping_Struggles,Work_Interest,Social_Weakness,mental_health_interview,care_options
0,8/27/2014 11:29,Female,United States,Corporate,NaN,No,Yes,1-14 days,Yes,No,Yes,Medium,No,No,Yes,No,Not sure
1,8/27/2014 11:31,Female,United States,Corporate,NaN,Yes,Yes,1-14 days,Yes,No,Yes,Medium,No,No,Yes,No,No
2,8/27/2014 11:32,Female,United States,Corporate,NaN,Yes,Yes,1-14 days,Yes,No,Yes,Medium,No,No,Yes,No,Yes
3,8/27/2014 11:37,Female,United States,Corporate,No,Yes,Yes,1-14 days,Yes,No,Yes,Medium,No,No,Yes,Maybe,Yes
4,8/27/2014 11:43,Female,United States,Corporate,No,Yes,Yes,1-14 days,Yes,No,Yes,Medium,No,No,Yes,No,Yes

In [ ]:
# --------------
# Dataset Tail
# --------------
data.tail()

,Timestamp,Gender,Country,Occupation,self_employed,family_history,treatment,Days_Indoors,Growing_Stress,Changes_Habits,Mental_Health_History,Mood_Swings,Coping_Struggles,Work_Interest,Social_Weakness,mental_health_interview,care_options
292359,7/27/2015 23:25,Male,United States,Business,Yes,Yes,Yes,15-30 days,No,Maybe,No,Low,Yes,No,Maybe,Maybe,Not sure
292360,8/17/2015 9:38,Male,South Africa,Business,No,Yes,Yes,15-30 days,No,Maybe,No,Low,Yes,No,Maybe,No,Yes
292361,8/25/2015 19:59,Male,United States,Business,No,Yes,No,15-30 days,No,Maybe,No,Low,Yes,No,Maybe,No,No
292362,9/26/2015 1:07,Male,United States,Business,No,Yes,Yes,15-30 days,No,Maybe,No,Low,Yes,No,Maybe,No,Yes
292363,2/1/2016 23:04,Male,United States,Business,No,Yes,Yes,15-30 days,No,Maybe,No,Low,Yes,No,Maybe,No,Yes

In [ ]:
# ---------------
# Dataset Sample
# ---------------
data.sample(5)

,Timestamp,Gender,Country,Occupation,self_employed,family_history,treatment,Days_Indoors,Growing_Stress,Changes_Habits,Mental_Health_History,Mood_Swings,Coping_Struggles,Work_Interest,Social_Weakness,mental_health_interview,care_options
170739,8/27/2014 13:59,Male,United States,Corporate,No,No,Yes,15-30 days,Yes,No,Maybe,Medium,Yes,No,Yes,No,No
120246,8/27/2014 12:39,Male,United States,Corporate,No,Yes,Yes,More than 2 months,Yes,Maybe,Yes,Medium,Yes,Yes,Maybe,Maybe,Yes
265725,8/28/2014 17:01,Male,United States,Student,No,No,No,More than 2 months,No,Maybe,Maybe,High,Yes,Maybe,Yes,No,Yes
33718,8/28/2014 14:31,Female,United States,Student,No,No,No,More than 2 months,Yes,Maybe,Maybe,Low,Yes,Maybe,Yes,No,Not sure
188176,8/28/2014 10:42,Male,United Kingdom,Others,Yes,No,No,1-14 days,Yes,Yes,No,Low,Yes,No,Yes,No,Not sure

### EXPLORING THE STATISTICS

In [9]:
data.describe()

,Timestamp,Gender,Country,Occupation,self_employed,family_history,treatment,Days_Indoors,Growing_Stress,Changes_Habits,Mental_Health_History,Mood_Swings,Coping_Struggles,Work_Interest,Social_Weakness,mental_health_interview,care_options
count,292364,292364,292364,292364,287162,292364,292364,292364,292364,292364,292364,292364,292364,292364,292364,292364,292364
unique,580,2,35,5,2,2,2,5,3,3,3,3,2,3,3,3,3
top,8/27/2014 11:43,Male,United States,Housewife,No,No,Yes,1-14 days,Maybe,Yes,No,Medium,No,No,Maybe,No,No
freq,2384,239850,171308,66351,257994,176832,147606,63548,99985,109523,104018,101064,154328,105843,103393,232166,118886

### EXPLORING THE CLEANNESS OF THE DATA

#### Duplicated Rows

In [ ]:
data.duplicated().sum()

np.int64(2313)

#### Null Values

In [11]:
data.isna().sum()

Timestamp                     0
Gender                        0
Country                       0
Occupation                    0
self_employed              5202
family_history                0
treatment                     0
Days_Indoors                  0
Growing_Stress                0
Changes_Habits                0
Mental_Health_History         0
Mood_Swings                   0
Coping_Struggles              0
Work_Interest                 0
Social_Weakness               0
mental_health_interview       0
care_options                  0
dtype: int64

#### Column Issues

In [12]:
# -------------
# Column Names
# -------------
data.columns

Index(['Timestamp', 'Gender', 'Country', 'Occupation', 'self_employed',
       'family_history', 'treatment', 'Days_Indoors', 'Growing_Stress',
       'Changes_Habits', 'Mental_Health_History', 'Mood_Swings',
       'Coping_Struggles', 'Work_Interest', 'Social_Weakness',
       'mental_health_interview', 'care_options'],
      dtype='object')

In [13]:
# -------------
# Column Types
# -------------
data.dtypes

Timestamp                  object
Gender                     object
Country                    object
Occupation                 object
self_employed              object
family_history             object
treatment                  object
Days_Indoors               object
Growing_Stress             object
Changes_Habits             object
Mental_Health_History      object
Mood_Swings                object
Coping_Struggles           object
Work_Interest              object
Social_Weakness            object
mental_health_interview    object
care_options               object
dtype: object

In [14]:
# ---------------------------------
# Column Values Inconsistency Check
# ----------------------------------

for column in data.select_dtypes(include='object').columns:
    if column == 'Timestamp':
        continue

    print(f"\nColumn: {column}")
    print(data[column].unique())
    print('-' * 50)

Column: Gender
['Female' 'Male']
--------------------------------------------------

Column: Country
['United States' 'Poland' 'Australia' 'Canada' 'United Kingdom'
 'South Africa' 'Sweden' 'New Zealand' 'Netherlands' 'India' 'Belgium'
 'Ireland' 'France' 'Portugal' 'Brazil' 'Costa Rica' 'Russia' 'Germany'
 'Switzerland' 'Finland' 'Israel' 'Italy' 'Bosnia and Herzegovina'
 'Singapore' 'Nigeria' 'Croatia' 'Thailand' 'Denmark' 'Mexico' 'Greece'
 'Moldova' 'Colombia' 'Georgia' 'Czech Republic' 'Philippines']
--------------------------------------------------

Column: Occupation
['Corporate' 'Student' 'Business' 'Housewife' 'Others']
--------------------------------------------------

Column: self_employed
[nan 'No' 'Yes']
--------------------------------------------------

Column: family_history
['No' 'Yes']
--------------------------------------------------

Column: treatment
['Yes' 'No']
--------------------------------------------------

Column: Days_Indoors
['1-14 days' 'Go out Every day' 'More than 2 months' '15-30 days'
 '31-60 days']
--------------------------------------------------

Column: Growing_Stress
['Yes' 'No' 'Maybe']
--------------------------------------------------

Column: Changes_Habits
['No' 'Yes' 'Maybe']
--------------------------------------------------

Column: Mental_Health_History
['Yes' 'No' 'Maybe']
--------------------------------------------------

Column: Mood_Swings
['Medium' 'Low' 'High']
--------------------------------------------------

Column: Coping_Struggles
['No' 'Yes']
--------------------------------------------------

Column: Work_Interest
['No' 'Maybe' 'Yes']
--------------------------------------------------

Column: Social_Weakness
['Yes' 'No' 'Maybe']
--------------------------------------------------

Column: mental_health_interview
['No' 'Maybe' 'Yes']
--------------------------------------------------

Column: care_options
['Not sure' 'No' 'Yes']
--------------------------------------------------